@import '../Globl/variable';

.Wrapper{
    display: flexM;
    align-items: center;
    column-gap: 27px;
    justify-content: center;
}
.Namber{
    font-style: normal;
font-weight: 900;
font-size: 50px;
font-family: ;
}