@import '../Globl/variable';
.d_Text{
    font-style: normal;
font-weight: 400;
font-size: 12px;
display: flex;
flex-direction: ;
align-items: center;
text-align: center;

}
.d_link{
    font-size: 15px;
    font-weight: 900;
}