@import '../Globl/variable';
.Footer{
    padding: 56px 214px 8px;
    background-color: $color_footer;
}
.Tel{
    display:grid ;
    grid-column: 10px;
}
.tel_Btn{
    background-color: transparent;
    border: 1px solid $color_HeartCart;
}
li,:nth-child(1){
    
}