@import '../Globl/variable';
.Aktsiya{

   display: flex;
   align-items: center;
   justify-content: center;
   padding-top: 161px;
   padding-bottom:80px ;
   

    
.card-title{
    font-family: MontserratBolt;
    font-weight: 900;
font-size: 36px;
font-style: normal;
}
.Slider

    
}