@import '../Globl/variable';
.Aktsiya{

   display: flex;
 align-items: center;
   
   padding-top: 161px;
   padding-bottom:80px ;
   
.card{
    background-color: transparent;
    outline: none;
    border: none;

}
.card-title{
    font-family: MontserratBolt;
    font-weight: 900;
font-size: 36px;
font-style: normal;
}
    
}
// .Slider{
//     max-width: 500px;
// }