// color
$color_white:#FFFFFF;
$color_bg:#E5E5E5;
$color_border: rgba(105, 103, 100, 0.59);
$color_HeartCart:#E16A00;
$color_text:#241400;
slick-arrow-color:red;
// brekpoints
// $grid-breakpoints: (
//   xs: 0,
//   sm: 576px,
//   md: 768px,
//   lg: 992px,
//   xl: 1200px,
//   xxl: 1400px
// );